/* Global */

html, body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/white_wall2.png");
}

/* Header */

.navbar{
    border-bottom: 2px solid #dddddd;
}

.navbar-nav {
    flex-direction: row;
}

.border-right{
    color:#dddddd !important;
}

.navbar-brand{
    background-color: #4aaaa5;
    color: #ffffff !important;  
    height: 80px;
    width: 270px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

/* Main Area */

hr{
    border-bottom: 3px solid #dddddd;
}

.collapse:not(.show){
    display: inline;
}

.about_me{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #cccccc; 
    font-size: 26px;
    font-weight: bold;
  }

.main{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 15%;
 }

p{
    font-size: 17px;
    line-height: 32px;
}

/*Portfolio*/

.img_responsive{
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 5%;
}

.img_text{
    height: 30%;
    width: 280px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5; 
    padding-top: 3%;
    position: absolute;
    top: 60%;
} 

/*Contact*/

.btn {
    padding: 8px 25px 8px 25px;
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    background-color: #4aaaa5; 
    border-bottom: 2px solid #dddddd;
} 

/* Footer */

.fixed-bottom {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    font-size: 12px;
    color:#dddddd;
    width: 100%;
    height: 60px;
    margin-top: 60px;
}

#footer{
    padding-top: 1.2%;
}

/* Media Query */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

    .container{
        margin: 0 !important;   
        padding: 0 !important;
    }

    ul.navbar-nav{
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .navbar-brand {
        flex: 100%;
        margin: 0;
    }

    .navbar-nav .nav-link {
        padding-right: 10px !important;
        padding-left: 5px !important;
    }

    .img_responsive{
        display: flex;
        justify-content: center; 
        margin-right: 7%;
    }

    p{
        margin-top: 5%;
    }
}

/* Small devices (landscape phones, 576px and up) */
    
@media (min-width: 576px) {

    ul.navbar-nav{
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .navbar-brand {
        margin: auto;
    }

    .navbar-nav .nav-link {
        padding-right: 10px !important;
        padding-left: 5px !important;
    }

    .img_responsive{
        display: flex;
        justify-content: center; 
        margin-right: 5%;
     
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
}



